In [1]:
import pandas as pd

In [86]:
dados = pd.read_csv('dados.csv',sep = ';')

# Abaixo está um exemplo que resume no que o resto do código foi baseado

## Os dados faltantes serão substituidos pela média das suas respectivas horas.

In [59]:
#Tiramos a média quando hora = 100 para temperatura, umidade e velocidade do vento 
magic_number1 = dados[(dados['HR_MED'] == 100)]['TEM_INS'].mean()
magic_number2 = dados[(dados['HR_MED'] == 100)]['UMD_INS'].mean()
magic_number3 = dados[(dados['HR_MED'] == 100)]['VEN_VEL'].mean()

#essa selecao consiste em escolher quando Temperatura, Umidade, velocidade do ventos são nulos e quando a hora for igual a 100
selecao = (dados['TEM_INS'].isnull() == True) & (dados['UMD_INS'].isnull() == True) & (dados['VEN_VEL'].isnull() == True)& (dados['HR_MED'] == 100)

#jogamos a selecao dos dados e guardamos numa variável
ax1 = dados[selecao]
#agora substituimos as médias tiradas anteriormente  pelos valores nulos da tabela ax1 criada.
ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
ax1

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

          DAT_MED  HR_MED    TEM_INS    UMD_INS   VEN_VEL
7729   2012-11-18     100  25.341589  86.155752  0.414732
7753   2012-11-19     100  25.341589  86.155752  0.414732
7777   2012-11-20     100  25.341589  86.155752  0.414732
7801   2012-11-21     100  25.341589  86.155752  0.414732
7825   2012-11-22     100  25.341589  86.155752  0.414732
...           ...     ...        ...        ...       ...
78961  2021-01-03     100  25.341589  86.155752  0.414732
78985  2021-01-04     100  25.341589  86.155752  0.414732
85417  2021-09-29     100  25.341589  86.155752  0.414732
85441  2021-09-30     100  25.341589  86.155752  0.414732
85849  2021-10-17     100  25.341589  86.155752  0.414732

[67 rows x 5 columns]

# Agora começa o Trabalho braçal para resolver as 7 formas como os dados faltantes podem aparecer nos dados

# Consertando 3 True

In [60]:
def Consertando_para3(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == True) & (dados['UMD_INS'].isnull() == True) & (dados['VEN_VEL'].isnull() == True)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [61]:
k0 = Consertando_para3(0)
k1 = Consertando_para3(100)
k2 = Consertando_para3(200)
k3 = Consertando_para3(300)
k4 = Consertando_para3(400)
k5 = Consertando_para3(500)
k6 = Consertando_para3(600)
k7 = Consertando_para3(700)
k8 = Consertando_para3(800)
k9 = Consertando_para3(900)
k10 = Consertando_para3(1000)
k11= Consertando_para3(1100)
k12= Consertando_para3(1200)
k13= Consertando_para3(1300)
k14= Consertando_para3(1400)
k15= Consertando_para3(1500)
k16= Consertando_para3(1600)
k17= Consertando_para3(1700)
k18= Consertando_para3(1800)
k19= Consertando_para3(1900)
k20= Consertando_para3(2000)
k21= Consertando_para3(2100)
k22= Consertando_para3(2200)
k23= Consertando_para3(2300)

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

# Consertando 2 True

In [63]:
def Consertando_para2(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == True) & (dados['UMD_INS'].isnull() == True) & (dados['VEN_VEL'].isnull() == False)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [64]:
h0 = Consertando_para2(0)
h1 = Consertando_para2(100)
h2 = Consertando_para2(200)
h3 = Consertando_para2(300)
h4 = Consertando_para2(400)
h5 = Consertando_para2(500)
h6 = Consertando_para2(600)
h7 = Consertando_para2(700)
h8 = Consertando_para2(800)
h9 = Consertando_para2(900)
h10 = Consertando_para2(1000)
h11= Consertando_para2(1100)
h12= Consertando_para2(1200)
h13= Consertando_para2(1300)
h14= Consertando_para2(1400)
h15= Consertando_para2(1500)
h16= Consertando_para2(1600)
h17= Consertando_para2(1700)
h18= Consertando_para2(1800)
h19= Consertando_para2(1900)
h20= Consertando_para2(2000)
h21= Consertando_para2(2100)
h22= Consertando_para2(2200)
h23= Consertando_para2(2300)

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [65]:
def Consertando_para22(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == False) & (dados['UMD_INS'].isnull() == True) & (dados['VEN_VEL'].isnull() == True)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [67]:
a0 = Consertando_para22(0)
a1 = Consertando_para22(100)
a2 = Consertando_para22(200)
a3 = Consertando_para22(300)
a4 = Consertando_para22(400)
a5 = Consertando_para22(500)
a6 = Consertando_para22(600)
a7 = Consertando_para22(700)
a8 = Consertando_para22(800)
a9 = Consertando_para22(900)
a10 = Consertando_para22(1000)
a11= Consertando_para22(1100)
a12= Consertando_para22(1200)
a13= Consertando_para22(1300)
a14= Consertando_para22(1400)
a15= Consertando_para22(1500)
a16= Consertando_para22(1600)
a17= Consertando_para22(1700)
a18= Consertando_para22(1800)
a19= Consertando_para22(1900)
a20= Consertando_para22(2000)
a21= Consertando_para22(2100)
a22= Consertando_para22(2200)
a23= Consertando_para22(2300)

In [68]:
def Consertando_para222(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == True) & (dados['UMD_INS'].isnull() == False) & (dados['VEN_VEL'].isnull() == True)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [80]:
b0 = Consertando_para222(0)
b1 =Consertando_para222(100)
b2 =Consertando_para222(200)
b3 = Consertando_para222(300)
b4 = Consertando_para222(400)
b5 = Consertando_para222(500)
b6 = Consertando_para222(600)
b7 = Consertando_para222(700)
b8 = Consertando_para222(800)
b9 = Consertando_para222(900)
b10 = Consertando_para222(1000)
b11= Consertando_para222(1100)
b12= Consertando_para222(1200)
b13= Consertando_para222(1300)
b14= Consertando_para222(1400)
b15= Consertando_para222(1500)
b16= Consertando_para222(1600)
b17= Consertando_para222(1700)
b18= Consertando_para222(1800)
b19= Consertando_para222(1900)
b20= Consertando_para222(2000)
b21= Consertando_para222(2100)
b22= Consertando_para222(2200)
b23= Consertando_para222(2300)

# Consertando para 1 True

In [70]:
def Consertando_para1(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == True) & (dados['UMD_INS'].isnull() == False) & (dados['VEN_VEL'].isnull() == False)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [72]:
c0 = Consertando_para1(0)
c1 = Consertando_para1(100)
c2 = Consertando_para1(200)
c3 = Consertando_para1(300)
c4 = Consertando_para1(400)
c5 = Consertando_para1(500)
c6 = Consertando_para1(600)
c7 = Consertando_para1(700)
c8 = Consertando_para1(800)
c9 = Consertando_para1(900)
c10= Consertando_para1(1000)
c11= Consertando_para1(1100)
c12= Consertando_para1(1200)
c13= Consertando_para1(1300)
c14= Consertando_para1(1400)
c15= Consertando_para1(1500)
c16= Consertando_para1(1600)
c17= Consertando_para1(1700)
c18= Consertando_para1(1800)
c19= Consertando_para1(1900)
c20= Consertando_para1(2000)
c21= Consertando_para1(2100)
c22= Consertando_para1(2200)
c23= Consertando_para1(2300)

In [73]:
def Consertando_para11(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == False) & (dados['UMD_INS'].isnull() == True) & (dados['VEN_VEL'].isnull() == False)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [74]:
d0 = Consertando_para11(0)
d1 = Consertando_para11(100)
d2 = Consertando_para11(200)
d3 = Consertando_para11(300)
d4 = Consertando_para11(400)
d5 = Consertando_para11(500)
d6 = Consertando_para11(600)
d7 = Consertando_para11(700)
d8 = Consertando_para11(800)
d9 = Consertando_para11(900)
d10= Consertando_para11(1000)
d11= Consertando_para11(1100)
d12= Consertando_para11(1200)
d13= Consertando_para11(1300)
d14= Consertando_para11(1400)
d15= Consertando_para11(1500)
d16= Consertando_para11(1600)
d17= Consertando_para11(1700)
d18= Consertando_para11(1800)
d19= Consertando_para11(1900)
d20= Consertando_para11(2000)
d21= Consertando_para11(2100)
d22= Consertando_para11(2200)
d23= Consertando_para11(2300)

In [75]:
def Consertando_para111(Hora):
    magic_number1 = dados[(dados['HR_MED'] == Hora)]['TEM_INS'].mean()
    magic_number2 = dados[(dados['HR_MED'] == Hora)]['UMD_INS'].mean()
    magic_number3 = dados[(dados['HR_MED'] == Hora)]['VEN_VEL'].mean()
    
   
    selecao = (dados['TEM_INS'].isnull() == False) & (dados['UMD_INS'].isnull() == False) & (dados['VEN_VEL'].isnull() == True)& (dados['HR_MED'] == Hora)
    ax1 = dados[selecao]
    ax1[['TEM_INS']] = ax1[['TEM_INS']].fillna(magic_number1)
    ax1[['UMD_INS']] = ax1[['UMD_INS']].fillna(magic_number2)
    ax1[['VEN_VEL']] = ax1[['VEN_VEL']].fillna(magic_number3)
    return ax1

In [76]:
e0 = Consertando_para111(0)
e1 = Consertando_para111(100)
e2 = Consertando_para111(200)
e3 = Consertando_para111(300)
e4 = Consertando_para111(400)
e5 = Consertando_para111(500)
e6 = Consertando_para111(600)
e7 = Consertando_para111(700)
e8 = Consertando_para111(800)
e9 = Consertando_para111(900)
e10= Consertando_para111(1000)
e11= Consertando_para111(1100)
e12= Consertando_para111(1200)
e13= Consertando_para111(1300)
e14= Consertando_para111(1400)
e15= Consertando_para111(1500)
e16= Consertando_para111(1600)
e17= Consertando_para111(1700)
e18= Consertando_para111(1800)
e19= Consertando_para111(1900)
e20= Consertando_para111(2000)
e21= Consertando_para111(2100)
e22= Consertando_para111(2200)
e23= Consertando_para111(2300)

#  Criando e os dados:

In [77]:
#Tiramos os dados faltantes dos dados
dados.dropna(inplace = True)

In [78]:
dados.isna().sum().sum()

0

# Concatenando os dados juntado com o dataset princial

In [84]:
dados_new = pd.concat([dados,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20,a21,a22,a23,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,b12,b13,b14,b15,b16,b17,b18,b19,b20,b21,b22,b23,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,d0,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,e0,e1,e2,e3,e4,e5,e6,e7,e8,e9,e10,e11,e12,e13,e14,e15,e16,e17,e18,e19,e20,e21,e22,e23,k0,k1,k2,k3,k4,k5,k6,k7,k8,k9,k10,k11,k12,k13,k14,k15,k16,k17,k18,k19,k20,k21,k22,k23,h0,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23])

In [85]:
dados_new

          DAT_MED  HR_MED    TEM_INS    UMD_INS   VEN_VEL
0      2012-01-01       0  26.600000  81.000000  1.100000
1      2012-01-01     100  26.300000  81.000000  0.800000
2      2012-01-01     200  26.200000  82.000000  0.700000
3      2012-01-01     300  26.000000  83.000000  0.200000
4      2012-01-01     400  25.600000  85.000000  0.700000
...           ...     ...        ...        ...       ...
86135  2021-10-28    2300  25.914136  83.985808  0.580618
71808  2020-03-11       0  25.611848  85.036953  0.500000
5604   2012-08-21    1200  28.027936  77.562412  1.000000
62436  2019-02-14    1200  28.027936  77.562412  0.200000
71807  2020-03-10    2300  25.914136  83.985808  0.300000

[86208 rows x 5 columns]

# Exportando

In [88]:
dados_new.to_csv('dados_new.csv', sep=';', index = False)